[submodule "bundle/nerdtree"]
	path = .vim/bundle/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/nerdtree-git-plugin"]
	path = .vim/bundle/bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
