Xcursor.size: 16
XTerm*foreground: white
XTerm*background: black        
XTerm*faceName: DejaVu\ Sans\ Mono\ for\ Powerline
XTerm*faceSize: 10.0 
XTerm*selectToClipboard: true
XTerm.vt100.locale: true

URxvt.font: xft:DejaVu\ Sans\ Mono\ for\ Powerline:size=10
URxvt.foreground: white
URxvt.background: #aaaaaaaa
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

Xft.dpi: 96
